body {
    text-align: center;
}

#container{
    display: inline-block;
    width: 960px;
    height: 960px;
    border-style: solid;
    border-color: black;
}

#container>div {
    display: inline-block;
    vertical-align: top; 
    max-width: inherit;
    max-height: inherit;
}